In [1]:
# %pip uninstall edmt -y
# %pip install . #&> /dev/null

In [1]:
import edmt
import geopandas as gpd
import pandas as pd

In [2]:
print([func for func in dir(edmt) if callable(getattr(edmt, func))])

['analysis', 'base', 'contrib', 'convesrion', 'init', 'mapping', 'models', 'plotting']

In [3]:
edmt.init()

  ______ _____  __  __ _______
 |  ____|  __ \|  \/  |__   __|
 | |__  | |  | | \  / |  | |
 |  __| | |  | | |\/| |  | |
 | |____| |__| | |  | |  | |
 |______|_____/|_|  |_|  |_|

In [4]:
edmt.__version__

'1.0.0.2'

# Generate UUID

In [13]:
data = pd.DataFrame({"name": ["Alice", "Bob", "Charlie"]})
result = edmt.conversion.generate_uuid(data)
result

No UUID-like column found. Generating 'uuid' column in the DataFrame.

      name                                  uuid
0    Alice  cfb592c3-7e2c-47ed-a242-a891932e4433
1      Bob  5fa09b48-f62e-4cb6-ab81-8a7842c57eaf
2  Charlie  739dbfe5-2e8a-4571-b50e-f72d0edc5c35

In [14]:
edmt.conversion.generate_uuid(result,index=True)

Column 'uuid' contains UUID-like values.

                                   uuid     name
0  cfb592c3-7e2c-47ed-a242-a891932e4433    Alice
1  5fa09b48-f62e-4cb6-ab81-8a7842c57eaf      Bob
2  739dbfe5-2e8a-4571-b50e-f72d0edc5c35  Charlie

# Mapping

In [5]:
m = gpd.read_file('https://www.dropbox.com/scl/fi/7ukvmmerenprydehaxpt8/Ken_Tz.geojson?rlkey=0lnjhu1xu52fc4mw9owv4hq34&dl=1')

In [6]:
m.head()

,fid,ADM0_CODE,ADM0_NAME,CONTINENT,ISO3,ISO2,UNI,UNDP,FAOSTAT,GAUL,...,CRA,ECOWAS,IGAD,IOC,SADC,CICOS,ICPAC,BDMS,MOI,geometry
0,1,133,Kenya,Africa,KEN,KE,404.0,KEN,114.0,133.0,...,0,0,4,0,0,0,14,0,15,"MULTIPOLYGON (((33.93398 -0.99409, 33.93397 -0..."
1,2,257,United Republic of Tanzania,Africa,TZA,TZ,834.0,URT,215.0,257.0,...,0,0,0,0,6,0,0,16,15,"MULTIPOLYGON (((39.10535 -6.54867, 39.10586 -6..."

In [8]:
edmt.conversion.plot_df(
    m,
    column='ADM0_NAME', 
    ax=None,
    legend=True
)

AttributeError: module 'edmt.conversion' has no attribute 'plot_df'